.ParkingMenu {
    text-align: left;
    border: 0.5em;
    border-style: outset;
    border-color:slategray;
    border-radius: 0.2em;
    width: 335px;
    margin-left: 1em;

}

.ParkingMenu h3 {
    padding: 0em;
    margin: 0em;
}

.ParkingMenu h4{
    margin: 0.5em;
    margin-left: 0em;
    padding: 0em;
}   

.PriceList{
    background-color: blanchedalmond;
    margin: 0em;
    padding: 0em;
}

*{
    padding: 0.5em;
}